{% extends 'base.html' %}
{% block main %}

<h2>Наши работы:</h2>
<ul>
    <li>Ремонт генератора модели X</li>
    <li>Замена комплектующих на генераторе Y</li>
    <li>Техническое обслуживание генератора Z</li>
    <li>Настройка генератора A для использования в качестве резервного источника питания</li>
    <li>Ремонт генератора B после аварии</li>
</ul>
<p>Мы гордимся нашим опытом и готовы предоставить вам высококачественные услуги по ремонту и обслуживанию генераторов. Наши специалисты имеют большой опыт работы в этой области и готовы приняться за любые задачи, связанные с генераторами.</p>
{% endblock %}